body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #f2f2f2;
    padding: 30px 25px;
    width: 320px;
    text-align: center;
}

.login-box h2 {
    color: #6aaec0;
    font-size: 18px;
}

.login-box input {
    width: 325;
    padding: 10px;
    margin: 8px 0;
    border-radius: 2px;
    font-size: 14px;
}

.login-box button {
    width:325;
    height: 40;
    background-color: #45a9bd;
    color: white;
    font-size: 14px;
}
