.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 2px solid #00ffaa;
    /* justify-items: start; გრიდში მყოფ კონტენტს დატოვებს მარცხენა კუთხეში  
    justify-items: center;   x ღერძზემგადაიტანს ცენტრში
    justify-items: end;       x ღერძზე გადაიტანს მარჯვნივ ბოლოში*/
    gap: 13px;
}

.box {
    height: 100px;
    background-color: #ff0303;
}