.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 2px solid #00ffaa;
    /* align items: start; გრიდში მყოფ კონტენტს დატოვებს მარცხენა კუთხეში  
    align items: center;   Y ღერძზემგადაიტანს ცენტრში
    align items: end;       Y ღერძზე მარცხნივ ქვემოთ  */
    gap: 13px;
}

.box {
    height: 100px;
    background-color: #ff0303;
}