.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
  position: relative;
  left: 30px;
  top: 20px;
}

.blue {
  background-color: blue;
}