.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px; 
  background-color: #3a18d1;
}

.child {
  position: relative;
  left: 40px;
  top: -20px;
  width: 100px;
  height: 100px;
  background-color: #000000;
}