.main-list {
  width: 400px;
  text-align: start;
  background-color: #f0f8ff;
  border: 2px solid blue;
  font-size: 18px;
  color: darkblue;
  list-style-type: upper-roman;
}

.sub-list {
  width: 300px;
  list-style: decimal inside;
  background-color: #222;
  color: white;
  font-size: 18px;
  font-family: cursive;
}

.sub-list li:hover {
  background-color: orange;
}

.sub-list li:active {
  background-color: red;
}
