.parent {
    width: 350px;
    height: 300px;
    background-color: lightgreen;
    border: 2px solid blue;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.child {
    background-color: violet;
    font-size: 16px;
    padding: 12px;
    margin: 6px;
}