.gela {
    width: 200px;
    height: 150px;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(26, 8, 189);
    border: none;
    border-radius: 5px;
}

.gela:hover {
    transform: translate(10px, 15px);
}