body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  width: 700px;
  height: 700px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.child{
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.first{ 
    background-color: aqua;
    flex-grow: 1;
    flex-basis: 10px;
}
.second{ 
    background: rgb(28, 56, 79); 
}
.third{ 
    background: green;
    width: 200px;
}

.fourth{
    background-color: rgb(181, 119, 26);
}

.fifth{
     background: rgb(62, 10, 62); 
     flex-shrink: 3; 
}