.card {
    margin-top: 100;
    margin-left: 350;
    background: #f5f5f5;
    width: 300px;
    height: 170;
    border-radius: 5px;
    text-align: center;
}


.card input {
    border: 1px solid #10bcbf;
    border-radius: 2px;
}
