#div1 {
    background-color: lightblue;
    border: 4px solid blue;
    text-align: left;
}

#div1 p {
    color: darkblue;
    font-size: 18px;
}

#div2 {
    background-color: lightyellow;
    border: 4px solid orange;
    text-align: center;
}

#div2 p {
    color: darkred;
    font-size: 20px;
}