.circ {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    animation: color 2s forwards;
}

@keyframes color {
    to {
        background-color: blue;
    }
}