.container {
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: rgb(117, 59, 59) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    background: steelblue;
}

.item3:hover {
    flex-grow: 1;
}