.container {
    display: flex;
}

.item {
    height: 100px;
    background: rgb(186, 47, 47);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    flex-basis: 150px;
}

.item2 {
    flex-basis: 150px;
}

.item3 {
    flex-basis: 150px;
}