.container {
    display: flex;
    width: 400px;
    border: 2px solid black;
}

.item {
    flex-basis: 250px;
    height: 100px;
    background: lightgray;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1{
    flex-shrink: 2;
}

.item2 {
    flex-shrink: 0;
}



.item3 {
    flex-shrink: 1;
}